#page-home .content{width: 90%; max-width: 1100px; margin: 0 auto; display: flex; height: 100%; flex-direction: column; }
#page-home header{margin-top: 48px;}
#page-home header a{display: flex; color: var(--title-color); font-weight: 700; }
#page-home header a span{background-image: url('../assets/log-in.svg'); width: 20px; height: 20px; display: flex; margin-right: 16px;}
#page-home main{max-width: 560px; flex: 1; display: flex; flex-direction: column; justify-content: center; height: 600px; display: flex; flex-direction: column; justify-content: center; flex: 1; }
#page-home main h1{font-size: 54px; color: var(--title-color);}
#page-home main p{font-size: 24px; line-height: 38px; margin-top: 24px; }
#page-home main a{width: 100%; max-width: 360px; background:var(--primary-color); height: 72px; border-radius: 5px; display: flex; align-items: center; margin-top: 40px; color: white; }
#page-home main a:hover{background-color: #2fb86e; transition: 400ms;}
#page-home main a span{width: 72px; height: 72px; background-color: rgba(0, 0, 0, 0.08); border-top-left-radius: 5px; border-bottom-left-radius: 5px; display: flex; align-items: center; justify-content: center;}
#page-home main a span::after{content: ""; background-image: url('../assets/search.svg'); width: 20px; height: 20px;}
#page-home main a strong{color: white; flex: 1; text-align: center;}