body:after{content:""; position: fixed; background: white; top: 260px; right: 0; left: 0; bottom: 0; z-index: -1;}

#page-search-results{width: 90%; max-width: 1100px; margin: 0 auto;}

#page-search-results header{display: flex; justify-content: space-between; align-items: center; margin-top: 48px; }
#page-search-results header a{color: var(--title-color); font-weight: bold; display: flex; align-items: center;}
#page-search-results header a span{background-image: url('../assets/arrow-left.svg'); width: 20px; height:24px; margin-right: 16px}


main{margin: 48px; }

main h4{font-weight: normal; font-family: roboto,sans-serif; margin-bottom: 32px;}

main .cards{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 24px; }

main img{width: 100%; height: auto; height: 150px; border-radius: 8px 8px 0 0;}
main .card img{object-fit: cover;}

main .card h1{font-size: 36px; line-height: 41px; color: #322153; margin-top: 32px; }

main .card h3{margin: 24 0; font-family: Roboto; font-style: normal; font-weight: 500; font-size: 24px; line-height: 34px; color: #34CB79; color: var(--primary-color)}

main .card p{font-size: 16px; line-height: 26px; color: #6C6C80; }
/*
 .items-grid{display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px}
.items-grid li{background-color: #f5f5f5; list-style: none; border: 2px solid #f5f5f5; height: 180px; border-radius: 8px; padding: 32px 24px 16px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; text-align: center; cursor: pointer;}

.items-grid li span{flex: 1; display: flex; align-items: center; color: var(--title-color); margin-top: 12px; }
.items-grid li.selected{background: #e1faec; border: 2px solid #34cb79; }

.items-grid li img,
.items-grid li span{pointer-events: none;}
*/
